@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import '../node_modules/izitoast/dist/css/iziToast.min.css';

/* html {
  font-size: 62.5%;
} */

html{
  font-family: 'Dosis', sans-serif;
}

  .open-modal-animation {
  animation: blowUpModal .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}


  .close-modal-animation {
    animation: blowUpModalTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;    
  }

  @keyframes blowUpModal {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform:scale(1);
    opacity:1;
  }
  100% {
    transform:scale(0);
    opacity:0;
  }
}



/* .loader {
  border-top-color: var(--primary-theme-color);
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
} */

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Small (sm) */
@media (min-width: 640px) { 

}

/* Medium (md) */
@media (min-width: 768px) { 
  
}

/* Large (lg) */
@media (min-width: 1024px) { 
  
 }

/* Extra Large (xl) */
@media (min-width: 1280px) { 
  
 }