.author-initials{
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 50%;
  background-color: bisque;
  text-align: center;
  font-size: 1.5rem;
}

.author-label{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.authors-item {
  cursor: pointer;
  position: relative;
}

.authors-item:hover {
  background-color: rgb(230, 228, 228);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

/* .authors-list{
  position: relative;
} */

