.item-tag {
  color: #f5f5f5;
  background-color: #f6ad55;
  padding: 0.2rem 0.7rem;
  font-size: 0.6rem;
}

.item-card{
  /* margin: 1em; */
  perspective: 1500px;
}
.more {
	display: none;

	/* &:checked ~ .content {
		transform: rotateY(180deg);
	} */
}
.flip-card {
  transform: rotateY(180deg);
}


.item-card .item-card-content{
    position: relative;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		transition: transform 0.2s cubic-bezier(0.75, 0, 0.85, 1);
}

.item-card-front, .item-card-back{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
  transform-style: preserve-3d;
  /* border-radius: 6px; */
    /* background-color: black; */

}

.item-card-front .item-card-inner, .item-card-back .item-card-back-inner {
  height: 100%;
  display: grid;
  padding: 1em;
  transform: translateZ(80px) scale(0.94);
}

.item-card-front{
  background-color: #fff;
	background-size: cover;
	background-position: center center;
}

.item-card-front:after{
  content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		/* border-radius: 6px; */
		backface-visibility: hidden;
		background: linear-gradient(
      40deg,
     var( --primary-theme-color),
     rgba(255, 242, 166, 0.7)
		);
}
			/* rgba(67, 138, 243, 0.7),
			var( --primary-theme-color) */


.item-card-front .item-card-inner {
  grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
	justify-items: center;
}

.item-card-title{
  grid-row: 2;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 500;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.item-card-back{
  transform: rotateY(180deg);
	background-color: #fff;
	border: 2px solid rgb(240, 240, 240);
}
.item-card-back .item-card-back-inner{
  grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 1.2em;
  justify-items: left;
}

.item-card-back .item-card-back-inner .item-card-info{
    position: relative;
		display: flex;
		align-items: center;
		color: var(--primary-theme-color);
    grid-row: 3;
    font-size: 1.2rem;
    /* border-top: solid black 2px; */
}

.item-card-back .item-card-info:not(:first-of-type):before {
  content: '';
  position: absolute;
  left: -0.9em;
  height: 24px;
  width: 1px;
  background-color: #ccc;
}

.item-card-span{
  font-size: 2em;
  font-weight: 700;
  text-transform: capitalize;
}

.item-card-info-icon{
  margin: 0em 0.3em 0em 0.3em;
}

.item-card-span{
  display: block;
  margin-top: -0.25em;
  font-size: 0.8em;
  font-weight: 600;
  white-space: nowrap;
}

.item-card-description{
  grid-row: 5;
		grid-column: 1/-1;
		font-size: 0.86em;
		border-radius: 5px;
		font-weight: 600;
		line-height: 1.4em;
		overflow: auto;
		color: var(--black-color);
		padding-right: 10px;
}
.item-card-back .item-card-back-top,
.item-card-back .item-card-back-edit {
  font-weight: 600;
  color: var(--black-color);
  grid-row: 1;
  font-size: 0.75rem;
}
/* #355cc9;*/
.item-card-back .item-card-back-top {
  grid-column: 1/3;
  justify-self: left;
}
.item-card-back .item-card-back-edit {
  grid-column: 3/-1;
  justify-self: right;
}
.item-return-button {
  grid-column: 1/-1;
  grid-row: -1;
  justify-self: center;
}

.item-card-button {
  grid-row: -1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: transparent;
  border: solid 2px #fff;
  color: rgb(54, 53, 53);
  /* border-radius: 4px; */
  text-align: center;
  left: 50%;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.item-card-button:hover {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: #355cc9;
}
/* .item-return-button{
  line-height: 3em;
  color: #e2e8f0;
  border-color: #e2e8f0;
  text-shadow: none;
} */
.item-return-button:hover {
  /* background-color: var(--primary-theme-color); */
  /* color: #fff; */
 /* position: absolute; */
  cursor: pointer;
  border-color: transparent; 
}


::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: lighten(#355cc9, 20%);
}
::-webkit-scrollbar-thumb:hover {
	background: #355cc9;
}

.item-card-back-edit{
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  position: relative;
  /* background-position: left center; */

}

.item-card-back-top-isbn{
  text-decoration: underline;
  /* padding: 2px; */
  /* border-bottom: solid rgb(230, 228, 228) 1px; */
}

.item-card-description{
  height: 2.2rem;
  overflow-y: auto;
}

/* .item-card-totalnumber {
  border-radius: 50%;
  background-color: var(--primary-theme-color);
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 50px;
  text-align: center;

} */